@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap");

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 100% "Dosis", sans-serif;
  background-color: #171717;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: bold;
}

p {
  line-height: 1.5em;
}

.header {
  width: calc(100vw - 16px);
  height: 24px;
  /* position: -webkit-sticky;
  position: sticky; */
  left: 0;
  top: 0;
  background-color: #111;
  color: #ddd;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px;
  z-index: 5000;
  border-bottom: 1px rgba(221, 221, 221, 0.5) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 800px) {
  .header {
    font-size: 1em;
  }
}

.header .headerLeft, .header .headerRight {
  position: absolute;
  font-size: 0.7em;
  margin-top: 4px;
  display: block;
  cursor: pointer;
}

.header .headerLeft:hover, .header .headerRight:hover {
  color: rgb(177,10,30);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media (max-width: 800px) {
    .header .headerLeft, .header .headerRight {
        color: rgb(177,10,30);
    }
}

.header .headerLeft {
  left: 20px;
}

.header .headerRight {
  right: 20px;
}

.rightPanel {
  width: 300px;
  height: calc(100vh - 80px);
  padding: 20px;
  background: #111;
  color: #ddd;
  position: fixed;
  top: 40px;
  right: -400px;
  z-index: 400;
  overflow-y: scroll;
  border-left: 1px rgba(221, 221, 221, 0.5) solid;
  line-height: 1.5em;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.rightPanel h3 {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px rgba(221, 221, 221, 0.5) solid;
}

.rightPanel p#legHom, .rightPanel p#legGun, .rightPanel p#legEvent, p#legBlo {
  /* text-indent: 40px; */
  padding-left: 55px;
  position: relative;
  cursor: pointer;
}

.rightPanel p#legHom::before, .rightPanel p#legGun::before, .rightPanel p#legEvent::before, p#legBlo::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -5px;
  left: 0;
  border-radius: 50%;
  border: rgba(221, 221, 221, 0.5) solid 1px;
}

.rightPanel p#legHom::before {
  background-color: #111;
  background-image: url("../images/45-degree-fabric-light.png");
}

.rightPanel p#legGun::before {
  background-color: rgba(220, 220, 220, 0.8);
  background-image: url("../images/45-degree-fabric-light.png");
}

.rightPanel p#legEvent::before {
  background-color: rgba(255, 125, 0, 0.8);
  background-image: url("../images/45-degree-fabric-light.png");
}

.rightPanel p#legBlo::before {
    background-color: rgba(177, 10, 30, 0.8);
    background-image: url("../images/45-degree-fabric-light.png");
  }

.rightPanel p {
  letter-spacing: 0.05em;
}

.rightPanel p a {
  color: rgb(177,10,30);
}

.rightPanel p a:hover {
  color: #888;
  transition-duration: 300ms;
}

.wrapper {
  width: 100vw;
  height: calc(100vh - 40px);
  top: 40px;
  position: fixed;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  overflow-x: scroll;
  overflow-y: hidden;
}

/* @media (orientation: portrait) {
  .wrapper {
    overflow-x: scroll;
  }
} */

.wrapper svg {
  position: absolute;
  overflow: hidden;
  display: block;
}

/* .wrapper svg g {
    left: 0;
    height: 100%;
} */

/* .wrapper svg g {
  width: 100%;
  height: 100%;
} */

/* ====== HOME ====== */
.topMenu {
  width: 700px;
  max-width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 100px auto;
  text-align: center;
  color: #ddd;
}

.topMenu h1 {
  font-size: 1.2em;
  margin: 150px 0 100px 0;
}

.topMenu .menuBanner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 100px auto;
  position: relative;
}

.topMenu .menuBanner:hover {
  opacity: 0.6;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.topMenu .menuBanner h2 {
  display: block;
  font-weight: normal;
  font-size: 2em;
  color: rgb(177,10,30);
  translate: transform(-50%, 0);
}

.topMenu .menuBanner h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(177,10,30);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.x.axis line, .y.axis line, .x.axis path, .y.axis path {
  display: none;
}

.x.axis text, .y.axis text {
  /* color: #ddd; */
  font-size: 1.2em;
  font-family: "Dosis", sans-serif;
  mix-blend-mode: normal;
}

/* .y.axis text {
  font-weight: bold;
} */

.infoWrapper {
  /* background: #292929; */
  /* width: 100vw;
  height: 100%; */
  /* background: linear-gradient(to bottom right, rgba(158, 74, 232, 0.533), rgba(255, 98, 0, 0.5)),
  url("../images/45-degree-fabric-light.png"); */
  background: linear-gradient(rgba(124, 99, 99, 0.5), rgba(76, 66, 73, 0.5)),
  url("../images/45-degree-fabric-light.png");
  color: #ddd;
}

.line-path {
  opacity: 0;
  pointer-events: none;
}

.area-path {
  height: auto;
  mix-blend-mode: hard-light;
}

.events {
    mix-blend-mode: normal;
  /* mix-blend-mode:soft-light; */
  fill: #dd7328;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

/* .events:hover {
  mix-blend-mode: color-dodge;
  opacity: 1;
} */

.mouse-line, .mouse-line circle, .mouse-per-line, .mouse-per-line circle {
  pointer-events: none;
}

/* .mouse-line {
    position: relative;
} */

.mouse-per-line circle {
  position: relative;
}

.mouse-circle-img {
  z-index: 9999 !important;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20px, -20px);
}

.mobileHandle {
    fill: #111;
    position: relative;
}
.mobileHandleImg {
    position: absolute;
    top: 0;
    left: 0;
}

div.tooltipEv {
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
  min-height: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px rgba(221, 221, 221, 0.5) solid;
  border-top: 1px rgba(221, 221, 221, 0.5) solid;
  pointer-events: none;
  color: #ddd;
}

.viewerEv {
  position: absolute;
  top: 40px;
  width: calc(100% - 40px);
  padding: 30px 20px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px rgba(221, 221, 221, 0.5) solid;
  border-top: 1px rgba(221, 221, 221, 0.5) solid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  pointer-events:none;
  color: #ddd;
}

@media (max-width: 800px) {
  .viewerEv {
    display: block;
    padding: 50px 20px 30px 20px;
    overflow-y: scroll;
    border-bottom: none;
    margin: 0 auto;
  }
}

.viewerEv div.viewerLeft {
  width: 400px;
  max-width: 100%;
}
@media (max-width: 900px) {
    .viewerEv div.viewerLeft {
        width: 300px;
    }
}
@media (max-width: 800px) {
    .viewerEv div.viewerLeft {
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    /* .viewerEv div.viewerLeft .evDate, .viewerEv div.viewerLeft .evLink {
        text-align: center;
    } */
}

.viewerEv div.viewerLeft .evName {
    font-size: 1.4em;
    line-height: 1.4em;
}
.viewerEv div.viewerLeft .evLink {
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(177,10,30);

}
.viewerEv div.viewerLeft .evLink:hover {
    opacity: 0.5;
}

.viewerEv div.viewerRight .evCaption {
    font-size: 0.75em;
}
.viewerEv div.viewerRight .evCaption a {
    color: rgb(177,10,30);
}
.viewerEv div.viewerRight .evCaption a:hover {
    opacity: 0.5;
}

.viewerEv div.viewerRight {
  width: 300px;
}

@media (max-width: 800px) {
  .viewerEv div.viewerRight {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
}

.viewerEv div.viewerRight img {
  width: 300px;
  max-width: calc(100% - 2px);
  border-radius: 4px;
  border: 1px rgba(221, 221, 221, 0.5) solid;
}

.viewerEv div.leftArrow, .viewerEv div.rightArrow {
  width: 60px;
  height: calc(100% - 40px);
  position: absolute;
}

@media (max-width: 800px) {
  .viewerEv div.leftArrow, .viewerEv div.rightArrow {
    height: 60px;
    top: 40px;
  }
}

.viewerEv div.leftArrow div.nextEv, .viewerEv div.leftArrow div.prevEv, .viewerEv div.rightArrow div.nextEv, .viewerEv div.rightArrow div.prevEv {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  cursor: pointer;
}

@media (max-width: 800px) {
  .viewerEv div.leftArrow div.nextEv, .viewerEv div.leftArrow div.prevEv, .viewerEv div.rightArrow div.nextEv, .viewerEv div.rightArrow div.prevEv {
    top: 10px;
    width: 40px;
    height: 40px;
  }
}

.viewerEv div.leftArrow div.prevEv, .viewerEv div.rightArrow div.prevEv {
  background-image: url(../images/prev-icon.svg);
}
/* .viewerEv div.leftArrow div.prevEv:hover, .viewerEv div.rightArrow div.prevEv:hover {
  background-image: url(../images/prev-icon-orange.svg);
} */
.viewerEv div.leftArrow {
  left: 20px;
}

.viewerEv div.rightArrow {
  right: 20px;
}

@media (max-width: 800px) {
  .viewerEv div.rightArrow {
    width: 100%;
    top: 0;
    right: 0;
  }
  .viewerEv div.leftArrow {
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

.viewerEv div.rightArrow div.closeEv {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  background-image: url(../images/close-icon.svg);
  cursor: pointer;
}
/* .viewerEv div.rightArrow div.closeEv:hover {
  background-image: url(../images/close-icon-orange.svg);
  transition-duration: 200ms;
} */

@media (max-width: 800px) {
  .viewerEv div.rightArrow div.closeEv {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 10px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.viewerEv div.rightArrow div.nextEv {
  background-image: url(../images/next-icon.svg);
}
/* .viewerEv div.rightArrow div.nextEv:hover {
  background-image: url(../images/next-icon-orange.svg);
  transition-duration: 200ms;
} */

@media (max-width: 800px) {
  .viewerEv div.rightArrow div.nextEv {
    right: 0;
  }
}

g.homLetter, g.gunLetter {
    font-size: 5em;
    font-weight: bold;
    z-index: 9000;
}
g.homLetter {
    fill: rgba(0, 0, 0, 0.8);
}
g.gunLetter {
    fill: #ddd;
}

@media (max-width: 600px) {
    g.homLetter, g.gunLetter {
        font-size: 3em;
    }
}

#data-chart {
    position: fixed;
    width: 400px;
    height: calc(100% - 200px);
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    overflow-y: auto;
    background: #111;
    top: 50%; left: 50%;
    transform: translate(-50%, calc(-50% + 30px));
    color: #ddd;
    padding: 20px;
    border: 0.5px #ddd solid;
    letter-spacing: normal;
    text-align: right;
  }
  #data-chart .grid {
    display: grid;
    gap: 0;
    grid-template-columns: auto auto auto auto;
  }

  #data-chart .grid div{
    grid-row: inherit;
    grid-column: inherit;
    border-bottom: #444 1px solid;
    padding: 5px 0 5px 10px;
  }

  #data-chart .grid div.title {
    color: rgb(177,10,30);
  }

  #dataIcon {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #111;
    border: #ddd 0.5px solid;
  }
  #screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 0; padding: 0;
  }

  .hidden {
    display: none;
  }