@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap');

$font-default: 'Dosis', sans-serif;
$dark-color: #222;
$light-color: #ddd;
$key-color-1: rgb(255, 80, 80);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font: 100% $font-default;
  color: $light-color;
  background-color: #171717;
  letter-spacing: 0.1em;
//   background-image: url("../images/45-degree-fabric-light.png");
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-weight: bold;
}

p {
    line-height: 1.5em;
}

/* ====== BREAK POINTS ====== */
$smPhone: 420px;
$laPhone: 600px;
$smTablet: 800px;
$laTablet: 960px;
@mixin smPhone {
    @media (max-width: #{$smPhone}) {
        @content;
    }
 }
 @mixin laPhone {
    @media (max-width: #{$laPhone}) {
        @content;
    }
 }
 @mixin smTablet {
    @media (max-width: #{$smTablet}) {
        @content;
    }
 }
 @mixin laTablet {
    @media (max-width: #{$laTablet}) {
        @content;
    }
}
@mixin laTabletLandcape {
    @media (max-width: #{$laTablet}) and (orientation: landscape) {
        @content;
    }
 }
 @mixin laTabletPortrait {
    @media (max-width: #{$laTablet}) and (orientation: portrait)    {
        @content;
    }
}

/* ====== GLOBAL ELEMENTS ====== */
.header {
    width: calc(100vw - 16px);
    height: 24px;
    position: sticky;
    left: 0;
    top: 0;
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    padding: 8px;
    z-index: 500;
    border-bottom: 1px rgba($light-color,0.5) solid;
    display: flex;
    justify-content: space-evenly;
    .headerLeft, .headerRight {
        position: absolute;
        font-size: 0.7em;
        margin-top: 4px;
        display: block;
        cursor: pointer;
        &:hover {
            color: $key-color-1;
            transition-duration: 300ms;
        }
    }
    .headerLeft {
        left: 20px;
    }
    .headerRight {
        right: 20px;
    }
}
.rightPanel {
    width: 300px;
    height: calc(100vh - 80px);
    padding: 20px;
    background: $dark-color;
    color: $light-color;
    position: fixed;
    top: 40px;
    right: -400px;
    z-index: 400;
    border-left: 1px rgba($light-color,0.5) solid;
    line-height: 1.5em;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}


.wrapper {
    width: 100vw;
    height: calc(100vh - 40px);
    top: 40px;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    @media (orientation: portrait) {
        overflow-x: scroll;
    }
    // position: relative;
    svg {
        position: absolute;
        overflow: hidden;
        display: block;
        // width: 100vw;
        // height: calc(100% - 40px);
        // top: 40px;
        // left: -30px;
        g {
            // position: fixed;
            // left: 0;
            width: 100%;
            height: 100%;
        //     g {
        //         width: 100vw;
        //         height: 100%;
        //     }
        }
    }
    }

/* ====== HOME ====== */
.topMenu {
    width: 700px;
    max-width: 80%;
    height: fit-content;
    margin: 100px auto;
    text-align: center;
    h1 {
        font-size: 1.2em;
        margin: 150px 0 100px 0;
    }
    .menuBanner {
        width: fit-content;
        display: block;
        margin: 100px auto;
        position: relative;
        &:hover {
            opacity: 0.6;
            transition-duration: 300ms;
        }
        h2 {
            display: block;
            font-weight: normal;
            font-size: 2em;
            color: $key-color-1;
            translate: transform(-50%, 0);
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background: $key-color-1;
                position: absolute;
                bottom: -5px;
                left: 0;
            }
        }
    }
}

/* ====== Global Chart elements ====== */
.x.axis line {
    display: none;
}
.x.axis text {
    color: $light-color !important;
    font-size: 1.2em;
}

/* ====== IFNO + VIOLENCE ====== */
.infoWrapper {
    background: #292929;
    background-image: url("../images/45-degree-fabric-light.png");
}
.line-path {
    opacity: 0;
    pointer-events: none;
}

.area-path {
    // opacity: 0.6;
    height: auto;
    mix-blend-mode: hard-light;
}
.events {
    // opacity: 0.7;
    mix-blend-mode: difference;
    transition-duration: 100ms;
    &:hover {
        // opacity: 1 !important;
        mix-blend-mode: exclusion;
    }
}
.mouse-line, .mouse-line circle, .mouse-per-line, .mouse-per-line circle {
    pointer-events: none;
}

div.tooltipEv {	
    position: absolute;			
    text-align: center;			
    width: calc(100% - 20px);					
    min-height: 10px;
    padding: 10px;
    background: $dark-color;	
    border-bottom: 1px rgba($light-color,0.5) solid;
    border-top: 1px rgba($light-color,0.5) solid;
    pointer-events: none;
}
.viewerEv {
    position: fixed;
    top: 40px;
    width: calc(100% - 40px);					
    padding: 30px 20px;
    background: $dark-color;	
    border-bottom: 1px rgba($light-color,0.5) solid;
    border-top: 1px rgba($light-color,0.5) solid;
    height: fit-content;
    display: flex;
    justify-content: center;
    column-gap: 20px;
        @include smTablet() {
        display: block;
        padding: 50px 20px 30px 20px;
        overflow-y: scroll;
        }
        div.viewerLeft {
            width: 400px;
            max-width: 90%;
            @include smTablet() {
                margin: 0 auto;
            }
        }
        div.viewerRight {
            width: 300px;
            @include smTablet() {
                margin: 0 auto;
            }
            img {
                width: 300px;
                border-radius: 4px;
                border:1px rgba($light-color,0.5) solid;
            }
        }
    // }
    // &:hover::after {
    //     transition-duration: 300ms;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     color: $dark-color;
    //     font-weight: bold;
    //     font-size: 2em;
    //     line-height: 8em;
    //     text-align: center;
    //     content: "CLOSE";
    //     width: 100%;
    //     height: 100%;
    //     background: rgba($light-color,0.5);
    // }
    div.leftArrow, div.rightArrow {
        width: 60px;
        height: calc(100% - 40px);
        position: absolute;
        @include smTablet() {
            height: 60px;
            top: 40px;
        }
        div.nextEv, div.prevEv {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @include smTablet() {
                top: 0;
            }
        }
        div.prevEv {
            background-image: url(../images/prev-icon.svg);
        }
    }
    div.leftArrow {
        left: 20px;
    }
    div.rightArrow {
        right: 20px;
        @include smTablet() {
        width: calc(100% - 40px);
        }
        div.closeEv {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 0;
            background-image: url(../images/close-icon.svg);
            @include smTablet() {
                left: 50%;
                top: -30px;
                transform: translateX(-50%);
            }
        }
        div.nextEv {
            background-image: url(../images/next-icon.svg);
            @include smTablet() {
                right: 0;
            }
        }
    }
}

div.gunBox, div.crimeBox {
    position: fixed;
    bottom: 40px;
    width: 100px;
    height: 100px;
    &::after{
        opacity: 0;
        font-weight: bold;
        font-size: 1.6em;
        letter-spacing: 0;
        width: 150px;
        height: 20px;
        display: inline;
        position: absolute;
        bottom: 50px;
    }
    &:hover::after{
        opacity: 1;
        transition-duration: 300ms;
    }
}
div.gunBox {
    right: 20px;
    background-image: url(../images/gun-icon.svg);
    &:hover::after {
        content: "Gun Sales";
        color: #000;
        right: 100px;
        text-align: right;
    }
}
div.crimeBox {
    left: 20px;
    background-image: url(../images/crime-icon.svg);
    &:hover::after {
        content: "Crime Rate";
        color: #bbb;
        left: 100px;
        text-align: left;
    }
}

/* ====== MOOD OF THE WORLD ====== */

.moodWrapper {
    background: $dark-color;
    background-image: url("../images/45-degree-fabric-light.png");
}
.lovePool {
    mix-blend-mode: color-dodge;
    opacity: 0.4;
}
.hatePool {
    mix-blend-mode: soft-light;
    opacity: 0.6;
}

// Tweet Numbers on Center
.hateText, .hateTextAfter, .loveText, .loveTextAfter {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: fit-content;
    text-align: center;
    h2, h3 {
    display: block;
    color: $light-color;
    font-weight: normal;
    margin: 0;
    }
    h2 {
        font-size: 6em;
    }
    h3 {
        font-size: 1em;
    }
    cursor: pointer;
}
.hateText { top: 60px; font-size: 6em;}
.hateTextAfter { top: 180px; font-size: 1em;}
.loveText { bottom: 80px; font-size: 6em;}
.loveTextAfter { bottom: 60px; font-size: 1em;}

// Date Handle
.timeHandle {
    width: 20px;
    @include laTabletPortrait() {
        width: 40px;
    }
    height: 100vh;
    position: fixed;
    &:hover {
        opacity: 1 !important;
        transition-duration: 300ms;
        @include laTabletPortrait() {
            opacity: 0.3 !important;
        }
    }
}

.tweetWrap {
    width: 400px;
    height: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $light-color;
    text-align: center;
    h3 {
        font-size: 1.2em;
        line-height: 1.6em;
    }
    &::before {
        content: "";
        width: 30px;
        height: 30px;
        background: url('../images/twitter-icon.svg') no-repeat;
        position: absolute;
        top: -55px;
        transform: translateX(-50%);
    }
    &::after {
        content: "NOW";
        width: fit-content;
        position: absolute;
        top: -20px;
        transform: translateX(-50%);
    }
}
.tweetLabel {
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    text-align: center;
    mix-blend-mode: screen;
    pointer-events: none;
    img{
        width: 100%;
        height: auto;
        }
}

div.openingModal {
    width: 200px;
    height: 150px;
    background: $dark-color;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8000;
}

.sound-icon {
    width: 60px;
    height: 60px;
    background: $dark-color;
    position: fixed;
    top: 60px;
    left: 20px;
    z-index: 8000;
}