@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 100% "Dosis", sans-serif;
  /* color: #ddd; */
  background-color: #171717;
  /* background-image: linear-gradient(to bottom right, #7d53de, #F18805); */
  letter-spacing: 0.1em;
}
body.textured {
  background-image: url("../images/45-degree-fabric-light.png");
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: bold;
}

p {
  line-height: 1.5em;
}


/* ====== BREAK POINTS ====== */
/* ====== GLOBAL ELEMENTS ====== */
.header {
  width: calc(100vw - 16px);
  height: 24px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #222;
  color: #ddd;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px;
  z-index: 500;
  border-bottom: 1px rgba(221, 221, 221, 0.5) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 800px) {
  .header {
    font-size: 1em;
  }
}

.header .headerLeft, .header .headerRight {
  position: absolute;
  font-size: 0.7em;
  margin-top: 4px;
  display: block;
  cursor: pointer;
}

.header .headerLeft:hover, .header .headerRight:hover {
  color: #ff5050;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.header .headerLeft {
  left: 20px;
}

.header .headerRight {
  right: 20px;
}

.rightPanel {
  width: 300px;
  height: calc(100vh - 80px);
  padding: 20px;
  background: #222;
  color: #ddd;
  position: fixed;
  top: 40px;
  right: -400px;
  z-index: 400;
  overflow-y: scroll;
  border-left: 1px rgba(221, 221, 221, 0.5) solid;
  line-height: 1.5em;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.rightPanel h3 {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px rgba(221, 221, 221, 0.5) solid;
}

.rightPanel p#legHate, .rightPanel p#legLove, .rightPanel p#legHandle {
  /* text-indent: 40px; */
  padding-left: 55px;
  position: relative;
  cursor: pointer;
}

.rightPanel p#legHate::before, .rightPanel p#legLove::before, .rightPanel p#legHandle::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
  border: rgba(221, 221, 221, 0.5) solid 1px;
}

.rightPanel p#legHate::before {
  background-color: #111;
  background-image: url("../images/45-degree-fabric-light.png");
}

.rightPanel p#legLove::before {
  background-color: rgba(220, 100, 100, 0.5);
  background-image: url("../images/45-degree-fabric-light.png");
}

.rightPanel p#legHandle::before {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../images/45-degree-fabric-light.png");
}

.rightPanel p {
  letter-spacing: 0.05em;
}

.rightPanel p a {
  color: #ff5050;
}

.rightPanel p a:hover {
  color: #888;
  transition-duration: 300ms;
}

.wrapper {
  width: 100vw;
  height: calc(100vh - 40px);
  top: 40px;
  position: fixed;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrapper.home {
  overflow-y: scroll;
}

/* @media (orientation: portrait) {
  .wrapper {
    overflow-x: scroll;
  }
} */

.wrapper svg {
  position: absolute;
  overflow: hidden;
  display: block;
}

.wrapper svg g {
  width: 100%;
  height: 100%;
}

/* ====== HOME ====== */
.topMenu {
  width: 700px;
  max-width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 40px auto;
  text-align: center;
  color: #ddd;
}

.topMenu.footer {
  margin: 80px auto 30px auto;
}

.topMenu h1 {
  font-size: 1.6em;
  font-weight: normal;
  margin: 60px 0 40px 0;
}

.topMenu p a {
  color: #ff5050;
}

.topMenu .menuBanner {
  width: calc(100% - 40px);
  display: block;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  border: #ddd solid 1px;
  border-radius: 5px;
}

.topMenu .menuBanner:hover {
  opacity: 0.6;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.topMenu .menuBanner.disabled {
  opacity: 0.3;
}

.topMenu .menuBanner h2 {
  display: block;
  font-weight: normal;
  font-size: 1.6em;
  color: #ddd;
  translate: transform(-50%, 0);
}

/* .topMenu .menuBanner h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ff5050;
  position: absolute;
  bottom: -5px;
  left: 0;
} */

/* ====== Global Chart elements ====== */

.x.axis line, .y.axis line, .x.axis path, .y.axis path {
  display: none;
}

.x.axis text, .y.axis text {
  /* color: #ddd; */
  font-size: 1.2em;
  font-family: "Dosis", sans-serif;
  mix-blend-mode: normal;
}

.y.axis text {
  font-weight: bold;
}
/* .x.axis, .y.axis {
  z-index: 8000 !important;
} */

/* ====== IFNO + VIOLENCE ====== */
.infoWrapper {
  /* background: #292929; */
  background: linear-gradient(to bottom right, rgba(159, 74, 232, 0.3), rgba(255, 98, 0, 0.5)),
  url("../images/45-degree-fabric-light.png");
  color: #ddd;
}

.line-path {
  opacity: 0;
  pointer-events: none;
}

.area-path {
  height: auto;
  mix-blend-mode: hard-light;
}

.events {
  /* mix-blend-mode:soft-light; */
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

/* .events:hover {
  mix-blend-mode: color-dodge;
  opacity: 1;
} */

.mouse-line, .mouse-line circle, .mouse-per-line, .mouse-per-line circle {
  pointer-events: none;
}

.mouse-per-line circle {
  position: relative;
}

.mouse-circle-img {
  z-index: 9999 !important;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20px, -20px);
}

div.tooltipEv {
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
  min-height: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px rgba(221, 221, 221, 0.5) solid;
  border-top: 1px rgba(221, 221, 221, 0.5) solid;
  pointer-events: none;
  color: #ddd;
}

.viewerEv {
  position: fixed;
  top: 40px;
  width: calc(100% - 40px);
  padding: 30px 20px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px rgba(221, 221, 221, 0.5) solid;
  border-top: 1px rgba(221, 221, 221, 0.5) solid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  pointer-events:none;
  color: #ddd;
}

@media (max-width: 800px) {
  .viewerEv {
    display: block;
    padding: 50px 20px 30px 20px;
    overflow-y: scroll;
  }
}

.viewerEv div.viewerLeft {
  width: 400px;
  max-width: 90%;
}

@media (max-width: 800px) {
  .viewerEv div.viewerLeft {
    margin: 0 auto;
  }
}

.viewerEv div.viewerRight {
  width: 300px;
}

@media (max-width: 800px) {
  .viewerEv div.viewerRight {
    margin: 0 auto;
  }
}

.viewerEv div.viewerRight img {
  width: 300px;
  border-radius: 4px;
  border: 1px rgba(221, 221, 221, 0.5) solid;
}

.viewerEv div.leftArrow, .viewerEv div.rightArrow {
  width: 60px;
  height: calc(100% - 40px);
  position: absolute;
}

@media (max-width: 800px) {
  .viewerEv div.leftArrow, .viewerEv div.rightArrow {
    height: 60px;
    top: 40px;
  }
}

.viewerEv div.leftArrow div.nextEv, .viewerEv div.leftArrow div.prevEv, .viewerEv div.rightArrow div.nextEv, .viewerEv div.rightArrow div.prevEv {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  cursor: pointer;
}

@media (max-width: 800px) {
  .viewerEv div.leftArrow div.nextEv, .viewerEv div.leftArrow div.prevEv, .viewerEv div.rightArrow div.nextEv, .viewerEv div.rightArrow div.prevEv {
    top: 0;
  }
}

.viewerEv div.leftArrow div.prevEv, .viewerEv div.rightArrow div.prevEv {
  background-image: url(../images/prev-icon.svg);
}

.viewerEv div.leftArrow {
  left: 20px;
}

.viewerEv div.rightArrow {
  right: 20px;
}

@media (max-width: 800px) {
  .viewerEv div.rightArrow {
    width: calc(100% - 40px);
  }
}

.viewerEv div.rightArrow div.closeEv {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  background-image: url(../images/close-icon.svg);
  cursor: pointer;
}

@media (max-width: 800px) {
  .viewerEv div.rightArrow div.closeEv {
    left: 50%;
    top: -30px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.viewerEv div.rightArrow div.nextEv {
  background-image: url(../images/next-icon.svg);
}

@media (max-width: 800px) {
  .viewerEv div.rightArrow div.nextEv {
    right: 0;
  }
}

/* div.gunBox, div.crimeBox {
  position: fixed;
  left: 0;
  width: 80px;
  height: 80px;
}

div.gunBox::after, div.crimeBox::after {
  opacity: 0;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 0;
  width: 150px;
  height: 20px;
  display: inline;
  position: absolute;
  bottom: 50px;
}

div.gunBox:hover::after, div.crimeBox:hover::after {
  opacity: 1;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

div.gunBox {
  bottom: 20px;
  background-image: url(../images/gun-icon.svg);
}

div.gunBox:hover::after {
  content: "Gun Sales";
  color: #000;
  left: 100px;
  text-align: left;
}

div.crimeBox {
  top: 40px;
  background-image: url(../images/crime-icon.svg);
}

div.crimeBox:hover::after {
  content: "Crime Rate";
  color: #bbb;
  left: 100px;
  text-align: left;
} */

/* =============================== */
/* =============================== */
/* ====== MOOD OF THE WORLD ====== */
/* =============================== */
/* =============================== */

.moodWrapper {
  background: rgb(62, 62, 62);
  background-image: url("../images/45-degree-fabric-light.png");
  transition-duration: 500ms;
}

.lovePool {
  mix-blend-mode: color-dodge;
  transition-duration: 300ms;
  /* opacity: 0.4; */
}

.hatePool {
  mix-blend-mode: soft-light;
  transition-duration: 300ms;
  /* opacity: 0.6; */
}

.hateText, .hateTextAfter, .loveText, .loveTextAfter {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

/* .hateText h2, .hateText h3, .hateTextAfter h2, .hateTextAfter h3, .loveText h2, .loveText h3, .loveTextAfter h2, .loveTextAfter h3 {
  display: block;
  color: #ddd;
  font-weight: normal;
  margin: 0;
} */

.loveText, .loveTextAfter {
  color: #400000;
} 

.hateText, .hateTextAfter {
  color: rgba(255,255,255,0.6);
} 

.hateText h2, .hateTextAfter h2, .loveText h2, .loveTextAfter h2 {
  font-size: 6em;
}

.hateText h3, .hateTextAfter h3, .loveText h3, .loveTextAfter h3 {
  font-size: 1em;
}

.hateText, .loveText {
  font-size: 5em;
  letter-spacing: 0.1em;
}

.hateText {
  top: 60px;
}

.hateTextAfter {
  top: 165px;
  font-size: 1em;
  padding-left: 38px;
}

.loveText {
  bottom: 80px;
}

.loveTextAfter {
  bottom: 60px;
  font-size: 1em;
  padding-left: 38px;
}

.hateTextAfter::before, .loveTextAfter::before {
  content: "";
  height: 28px;
  width: 28px;
  position: absolute;
  display: inline-block;
  top: -2px;
  left: 0;
}

.hateTextAfter::before {
  background-image: url('../images/hate-icon.svg');
}

.loveTextAfter::before {
  background-image: url('../images/love-icon.svg');
}

.handleG {
  position: relative;
}
path.handleBump {
  position: absolute;
  pointer-events: none;
  /* background-image: url('../images/handle-bump.svg'); */
}

.timeHandle {
  width: 20px;
  height: 100vh;
  position: absolute;
}

.handleG:hover {
  opacity: 0.7 !important;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media (max-width: 960px) and (orientation: portrait) {
  .timeHandle {
    width: 40px;
  }
}

@media (max-width: 960px) and (orientation: portrait) {
  .timeHandle:hover {
    opacity: 0.3 !important;
  }
}

.tweetWrap {
  width: 400px;
  max-width: 70%;
  height: auto;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ddd;
  text-align: center;
}

.newTweetBG {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: lightblue;
}

.tweetWrap h3 {
  font-size: 1.2em;
  line-height: 1.6em;
}

.tweetWrap::before {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../images/twitter-icon.svg") no-repeat;
  position: absolute;
  top: -55px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tweetWrap::after {
  content: "NOW";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tweetLabel {
  width: 100%;
  max-width: 1000px;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: fixed;
  text-align: center;
  mix-blend-mode: screen;
  pointer-events: none;
}

.tweetLabel img {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .hateText, .loveText {
    font-size: 4em;
  }

  .hateTextAfter {
    top: 140px;
  }

  .tweetWrap h3 {
    font-size: 1em;
    line-height: 1.2em;
  }
}

div.openingModal {
  width: 160px;
  height: 100px;
  border-radius: 50%;
  padding: 50px 20px;
  /* width: 100vw;
  height: 20vh;
  padding: 40vh 0;
  top: 0;
  left: 0; */
  text-align: center;
  font-size: 1.4em;
  background: rgba(222, 222, 222, 0.6);
  color: #222;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 8000;
  transition-duration: 300ms;
}

/* div.openingModal:hover {
  opacity: 0.5;
  transition-duration: 300ms;
} */

div.openingModal::after {
  content: "";
  width: 280px;
  height: 280px;
  background-image: url(../images/circle-animation.svg);
  position: absolute;
  top: -40px;
  left: -40px;
  opacity: 0.6;
}

.sound-icon {
  width: 40px;
  height: 40px;
  /* background: #222; */
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 8000;
  opacity: 0.5;
}
.sound-icon:hover {
  opacity: 0.8;
  transition-duration: 300ms;
}

div.openingModal img {
  width: 40px;
  height: 40px;
}
div.openingModal p {
  margin-top: 5px;
}
/*# sourceMappingURL=global.css.map */


/* Ancient Violence */
/* .texture-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: url("../images/45-degree-fabric-light.png");
  z-index: 4500;
  mix-blend-mode: overlay;
} */

